.card {
    width: 400px;
    height: 550px;
    background-color: #17A2B8;
    position: relative;
    display: flex;
    justify-content: center;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-container {
    position: absolute;
    top: 100px;
    border: 5px solid white;
    border-radius: 70px;
    z-index: 2;
}

.container-info {
    width: 396px;
    background-color: white;
    position: absolute;
    top: 170px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;
}

.container-info svg {
    width: 14px;
    height: auto;
}

.grin {
    background-color: #459B46;
    margin-right: 10px;
}

.ocean {
    background-color: #17A2B8;

}

.button-container {
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    display: flex;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.button-container button {
    color: white;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.icon-container {
    position: absolute;
    bottom: 15px;

}

.icon-container img {
    height: 25px;
    padding-left: 5px;
}
